<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <section class="testimonial text-center" >
      <div class="container">
        <div class="heading white-heading">Testimonials</div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="testimonial4_slide">
                  <img src="https://res.cloudinary.com/weigheasy/image/upload/c_scale,w_240/v1642894216/Yacht_detfla.jpg" />
                  <p>Some convincing bo****ks</p>
                  <h4>Thomas Bond</h4>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial4_slide">
                  <img src="https://res.cloudinary.com/weigheasy/image/upload/v1644096850/alexander-hipp-iEEBWgY_6lA-unsplash_ag2st0.jpg" />
                  <p>Don't you just love jewelery</p>
                  <h4>Jonathon Barry</h4>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial4_slide">
                  <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                  <p>These guys know there stuff. 100% recommend</p>
                  <h4>James O'brian</h4>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
  </div>
