<div class="container pt-3 pb-3" style="min-height: 600px;">
  <div class="row">
    <div class="col-lg-6 col-md-6 text-center" >
      <img src="https://res.cloudinary.com/weigheasy/image/upload/v1644617453/undraw_order_confirmed_re_g0if_i7w8g2.svg" alt="Success" style="margin-top: 10px; max-height: 300px;">
    </div>
    <div class="col-lg-4 col-md-6 text-center"  style="position: relative;" >
      <div>
        <h1>Congratulations, you have made the purchase</h1><br>
        <h3>We have sent you a email to confirm payment</h3><br>
        <h4>Something else</h4><br>
        <%= link_to "Home page", root_path, class: "btn btn-primary py-3 px-5" %>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
